body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    height: 100vh;
    overflow: hidden;
}

#container{
    transform: skewY(12deg);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: beige;
    padding: 10px;
}
