body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    max-width: 500px;
}

a{
    font-size: 50px;
    text-decoration: none;
    padding: 15px;
    color: white;
    background-color: slateblue;
    border: white solid 2px;

    
}

a:hover{
    background-color: white;
    color: slateblue;
    
    transition-duration: 0.5s;
}